<!doctype html>
<html lang="en">

<head>
    <title>Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Qora</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
            </ul>
            <form class="navbar-form navbar-right" action="{% url 'search:placeholder' %}" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <button type="button" class="btn btn-lg btn-danger" data-toggle="modal" data-target="#myModal">Add Question</button>
        </div>
    </nav>

    <div class="container">

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title">{{ user.first_name }} {{ user.last_name }} added</h4>
                    </div>
                    <div class="form-group">
                        <form action="{% url 'q_and_a:home' %}" method="post">
                            <div class="form-control">
                                <input type="text" name="newquestion" placeholder="What is your question?">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">Cancel</button>
                            </div>
                            <form class="col-md-6">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked> Add Anonymously
                                </label>
                                <button type="submit" class="btn btn-primary">Add Question</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-2">
                    <p>Hello</p>
                </div>

                <div class="col-md-1">

                </div>

                <div class="col-md-6">
                    <p>Hello {{ user.first_name }} {{ user.last_name }}</p>
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">What is your question?</button>
                </div>

                <div class="col-md-1">
                </div>

                <div class="col-md-2">
                    <p>Hello</p>
                </div>

            </div>
        </div>

</body>

</html>