<!DOCTYPE html>
<html lang="en">

<head>
    <title>Qora</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='http://code.jquery.com/jquery-1.10.2.min.js'></script>
</head>

<body>

    <div class="container">
        <h2>User Login</h2>
        <form action="/login" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="username" class="form-control" id="username" placeholder="Enter username" name="username">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <br>
        <p class="text-center">Not a registered user? | <a href="/register">Sign up</a></p>
        {% if messages %}
        {% for message in messages %}
            <p class="text-danger text-center">{{message}}</p>
        {% endfor %}
    {% endif %}
    </div>

</body>

</html>