<!DOCTYPE html>
<html lang="en">

<head>
    <title>Qora</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'q_and_a:home' %}">Qora</a>
            </div>
            <ul class="nav navbar-nav">
                <!-- REMEMBER TO CHANGE CLASS ACTIVE TO THE CURRENT OPENED PAGE -->
                <li>
                    <a href="{% url 'q_and_a:home' %}">Home</a>
                </li>
                <li>
                    <a href="#">Answer</a>
                </li>
                <!-- ADD ROUTE TO THE ANSWER PAGE -->
                <li>
                    <button type="submit" id="addquestion" class="btn btn-danger" style="margin:8px" data-toggle="modal" data-target="#myModal">Add Question</button>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Profile
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'profile:profileIndex' %}">Profile</a>
                        </li>
                        <li>
                            <a href="{% url 'login:logout' %}">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- ADD SEARCH ROUTE IN ACTION-->
            <form class="navbar-form navbar-right" action="#" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </nav>
    <div class="container">
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title">{{ user.first_name }} {{ user.last_name }} added</h4>
                    </div>
                    <div class="form-group">
                        <form action="{% url 'q_and_a:home' %}" method="post">
                            <div class="form-control">
                                <input type="text" name="newquestion" placeholder="What is your question?">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">Cancel</button>
                            </div>
                            <form class="col-md-6">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked> Add Anonymously
                                </label>
                                <button type="submit" class="btn btn-primary">Add Question</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p>Hello</p>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-6">
                    <p>Hello {{ user.first_name }} {{ user.last_name }}</p>
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">What is your question?</button>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <p>Hello</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content" style="width: 100%; margin: 10px 0px; padding-left: 10px;">
                    <!-- BIO AND CONTENT GOES HERE -->
                    <h2>{{user.first_name}} {{user.last_name}}</h2>
                    <p>Email: {{user.email}}</p>
                    <p>Questions asked: {{user.questions.count}}</p>

                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="sidebar-nav-fixed affix" style=" text-align:right;">
                            <div class="well">
                                <ul class="nav ">
                                    <!-- ADD CORRECT ROUTES FOR FUNCTIONALITY -->
                                    <!-- <li class="nav-header">Sidebar</li> -->
                                    <li class="active">
                                        <a href="#">Questions</a>
                                    </li>
                                    <li>
                                        <a href="#">Answers</a>
                                    </li>
                                    <li>
                                        <a href="#">Answer Later</a>
                                    </li>
                                    <li>
                                        <a href="#">Drafts</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'profile:profileIndex' %}">Profile</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10" style="height: 500px; overflow: scroll;">
                        <!-- AUTOPOPULATE INFO BASED ON WHAT LINK IS CLICKED FROM SIDEBAR-->
                        <div class="jumbotron">
                            <h4>Your Interested Topics</h4>
                            {%if topics%} {%for topic in topics%}
                            <form action="{%url 'profile:profileInterests_remove'%}" method='post'>
                                {%csrf_token%}
                                <input type='hidden' name='topic' value={{topic.topic}}>
                            <button>{{topic.topic}}</button>
                            </form>
                            {%endfor%} {%endif%}
                        </div>
                        <div class="jumbotron">
                            <h4>Other Interesting Topics</h4>

                            {%if otherTopics%} 
                            
                            {%for topic in otherTopics%} 
                            <form action="{%url 'profile:profileInterests_add'%}" method='post'>
                                    {%csrf_token%}
                                    <input type='hidden' name='topic' value={{topic.topic}}>
                                <button>{{topic.topic}}</button>
                                </form>
                            
                            {%endfor%} {%endif%}
                            <!-- need to limit # of topics displayed -->


                        </div>
                        <form action="{%url 'profile:profileInterests_add'%}" method='post'>
                            {%csrf_token%}
                            <p>
                                <input type='text' name='newTopic' placeholder="Type your interest">
                                <!-- need to clean to all lowercase -->
                            </p>
                            <button>Add interest</button>
                        </form>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <!--  
            <div class="col-md-3">
                <div class="sidebar-nav-fixed pull-right affix" style="width:20%">
                    <div class="well">
                        <ul class="nav ">
                            <li class="nav-header">Sidebar</li>
                            <li class="active"><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li class="nav-header">Sidebar</li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                        </ul>
                    </div>
                </div>
                
                sidebar-nav-fixed -->
        </div>
    </div>
    </div>
</body>

</html>